$banner-background-color: #0a244f;
$button-color: #42e5f4;
$button-text-color: #213333;
$banner-text-color: #4286f4;
$content-background-color: #fff;
$content-text-color: #494949;
$example-modules-border: 5px dashed $banner-background-color;
